@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

*,
::before,
::after {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #F5F7FB;
  font-family: 'Karla', sans-serif;
  text-align: center;
  max-height: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  font-size: 0.95rem;
}

.description {
  max-width: 500px;
}

.intro {
  border: 2px solid #293264;
  border-radius: 4rem 0 4rem 0;
  padding: 0 1.2rem;
  color: #293264;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

body::before {
  content: url('./assets/blobs-topRight.png');
  position: fixed;
  right: -3rem;
  top: -3rem;
  z-index: 1;
  margin: 0;
  padding: 0;
}

body::after{
  content: url('./assets/blobs-bottomLeft.png');
  position: fixed;
  left: -3rem;
  bottom: -4rem;
  z-index: 1;
  margin: 0;
  padding: 0;
}

@media  screen and (min-width: 700px) {
  #root {
    align-items: center;
  }

  body::before {
    right: -3rem;
    top: -1rem;
  }

  body::after {
    left: -3rem;
    bottom: -2rem;
  }
}

.intro h1 {
  margin-top: 2.5rem;
}

.intro button {
  background-color: #4D5B9E;
  color: #F5F7FB;
  padding: 0.8rem 4rem;
  cursor: pointer;
  outline: none;
  border: none;
  margin-bottom: 2.5rem;
  transition: all 0.3s ease-out;
  user-select: none;
}

.intro button:active {
  border: none;
  transform: scale(0.98);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
} 

.intro button:focus {
  outline: none;
}

.eachQuestion {
  border-bottom: 1px solid #DBDEF0;
  width: 100%;
  padding-bottom: 0.9rem;
}

.eachQuestion h3 {
  font-size: 1rem;
  text-align: left;
  margin-bottom: 1rem;
  color: #293264;
}

.eachQuestion div {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.eachQuestion button {
  font-size: 0.75rem;
  color: #293264;
  /* background-color: #D6DBF5; */
  border-radius: 10px;
  border: 1px solid #293264;
  outline: none;
  background-color: #F5F7FB;
}

.eachQuestion button:focus,  
.eachQuestion button:active{
  outline: none;
}

.questionSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem 0;
  margin-bottom: 0.5rem;
}

.checkAnswers {
  background-color: #4D5B9E;
  color: #F5F7FB;
  padding: 0.8rem 4rem;
  cursor: pointer;
  outline: none;
  border: none;
  margin-bottom: 2.5rem;
  transition: all 0.3s ease-out;
  user-select: none;
}

.checkAnswers:active {
  border: none;
  transform: scale(0.98);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
} 

.checkAnswers:focus {
  outline: none;
}

@media  screen and (min-width: 700px) {
  .eachQuestion h3 {
    font-size: 1.2rem;
  }

  .questionSection {
    max-width: 90vw; 
  }

  .eachQuestion button {
    font-size: 0.9rem;
  }
}
